<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/login/stylelogin/style.css">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/index.html">Home</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/about.html">Sobre Nós</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/login/login.html">Login</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/ranking.html">Gráficos</a>
        </nav>
    </header>
    <main class="apresentacao">
        <section class="estilo">
            <h1 class="titulo"><strong class= "Destaque_titulo">Gs</strong> Motors</h1>
            <p class="conteudo">A GS Motors é líder em vendas de carros esportivos de luxo na América Latina, destacando-se por oferecer aos seus clientes uma experiência única e inigualável. Com uma vasta gama de veículos de alto desempenho e design sofisticado, a GS Motors seleciona os melhores modelos das principais marcas mundiais, atendendo com excelência ao público apaixonado por potência e exclusividade.

                A GS Motors é reconhecida pelo atendimento personalizado, entendendo as preferências e o perfil de cada cliente, além de proporcionar um serviço completo de consultoria, financiamento e suporte técnico especializado. Os consultores da GS Motors são verdadeiros entusiastas automotivos, prontos para guiar o cliente na escolha do carro ideal e na realização do sonho de dirigir um esportivo de alta performance.
                
                Com sua presença marcante no mercado, a GS Motors também é conhecida por sua inovação e agilidade, trazendo sempre as últimas novidades e lançamentos para o público latino-americano. Além disso, cada unidade é rigorosamente revisada e testada, garantindo aos clientes segurança e desempenho de ponta.
                
                Seja para quem busca adrenalina nas pistas, sofisticação nas ruas, ou ambos, a GS Motors é a escolha certa. A excelência no atendimento, a qualidade dos veículos e o compromisso com a satisfação do cliente fazem da GS Motors a melhor e mais confiável concessionária de carros esportivos na América Latina.</p>
        </section>
        <img class="foto__carro" src="/projeto_cad_usuarios/app_cad_usuarios/templates/assets/Carrooficina.jpg" Foto carro">
        <section>
        </section>
    </main>
    <footer class="rodape">
        <p> Gs Mecânica</p>
    </footer>
</body>
</html>