<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/login/stylelogin/style.css">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/index.html">Home</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/about.html">Sobre Nós</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/login/login.html">Login</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/ranking.html">Ranking</a>
        </nav>
    </header>
    <main class="apresentacao">
        <section class="estilo">
            <h1 class="titulo"><strong class= "Destaque_titulo">Gs</strong> Motors</h1>
            <p class="conteudo">A GS Motors é líder em vendas de carros esportivos de luxo na América Latina, destacando-se por oferecer aos seus clientes uma experiência única e inigualável. Com uma vasta gama de veículos de alto desempenho e design sofisticado, a GS Motors seleciona os melhores modelos das principais marcas mundiais, atendendo com excelência ao público apaixonado por potência e exclusividade.</p>
        </section>
        <img class="foto__carro" src="/projeto_cad_usuarios/app_cad_usuarios/templates/assets/Carrooficina 2.jpg" alt=" Foto carro">

    </main>
    <footer class="rodape">
    </footer>
</body>
</html>