<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/login/stylelogin/style.css">
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/index.html">Home</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/about.html">Sobre Nós</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/login/login.html">Login</a>
         <a class="cabecalho__menu__link" href="/projeto_cad_usuarios/app_cad_usuarios/templates/usuarios/ranking.html">Ranking</a>
        </nav>
    </header>
    <main class="apresentacao">
        <div class="container">
            <section class="estilo">
            <h1 class="titulo"><strong class= "destaque_titulo">Gs</strong> Motors</h1><br></br>
            <h2 class="subtitulo"><strong class= "Destaque_titulo">Os 5</strong> carros mais vendidos</h1>
            <img class="graficos" src="/projeto_cad_usuarios/app_cad_usuarios/templates/assets/grafico.png" alt=" grafico">
            <h2 class="subtitulo"><strong class= "Destaque_titulo">Os 5</strong> carros menos vendidos</h1>
            <img class="graficos" src="/projeto_cad_usuarios/app_cad_usuarios/templates/assets/grafico 2.png" alt=" grafico">
        </div>
    </main>
    <footer class="rodape">
    </footer>
</body>
</html>